.block-venue {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	h2, h3, p, a {
		color: $color-white;
	}
	.col_1 {
		background-color: $x-color-red;
		background: url('../images/venue.jpg');
		background-size: cover;
		padding: 50px;
		p, a {
			text-shadow: 2px 2px 5px black;
		}
	}
	.col_2 {
		display: none;
		padding: 50px;
		h2, h3, p, a {
			color: black;
		}
	}
	.h_line {
		border-bottom: 2px solid yellow;
		width: 120px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.block-venue {
		.col_1 {
			h2, p, a {
				display: none;
			}
			.h_line {
				display: none;
			}
		}
		.col_2 {
			display: block;
			.h_line {
				border-bottom: 2px solid limegreen;
			}
		}
	}
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.block_venue {
		.col_1, .col_2 {
			padding: 80px;
		}
	}
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}