.block-itinerary {
	background-color: $x-color-red;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	h2, h3, h4, p, a {
		color: $color-white;
	}
	h3 {
		
	}
	.h_line {
		border-bottom: 2px solid yellow;
		width: 120px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.col_1, .col_2 {
		background-color: $x-color-red;
		padding: 50px;
	}

	.col_2 {
		background-color: $x-color-darkBlue;
		background: url("../images/ballroom.png");
		background-size: cover;
		padding: 0;
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.block_venue {
		.col_1 {
			h2, p, a {
			}
		}
		.col_2 {
		}
	}
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.block_venue {
		.col_1, .col_2 {
			padding: 80px;
		}
	}
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}