.block-accommodation {
	padding: 50px;
	margin: 0 auto;
	text-align: center;
	background-color: $x-color-grey;
	h2, h3 {
		color: $color-white;
	}
	p {
		color: $color-white;
	}
	a {
		color: $x-color-lightBlue;
	}
	.h_line {
		border-bottom: 2px solid lightblue;
		width: 100px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.col_2 {
		background-image: url("../images/map.jpg");
		background-size: cover;
		background-position: center;
		height: 220px;
		background-repeat: no-repeat;
		margin-top: 20px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.block-accommodation {
		.col_1 {
			
		}
		.col_2 {
			display: block;
			background-image: url("../images/map.jpg");
			background-size: cover;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.block-accommodation {
		
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.block-accommodation {
		
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.block-accommodation {
		
	}
}

