.block-venue {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	h2, h3, p, a {
		color: black;
	}
	.col_1 {
		background-color: $color-white;
		padding: 50px;
	}
	.h_line {
		border-bottom: 2px solid limegreen;
		width: 120px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.block_venue {
		.col_1 {
			padding: 80px;
		}
	}
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}