<div class="container-fluid block-accommodation">
	<div class="row">

		<div class="col-sm-6 col_1">
			<div class="container text-block">
				<h2 class="text-center">Accommodation</h2>
				<div class="h_line"></div>
				<p class="text-center">Hotel Anfonso XIII is the reception hotel, but is not where people will be staying. It is not the recommended hotel as there are more affordable hotels nearby.</p>
				<br>
				<p class="text-center">Please use the link <a target="_blank" href="https://www.trivago.co.uk/?iPathId=31533&bDispMoreFilter=false&iSlideOutItem=40862&aDateRange%5Barr%5D=2018-11-02&aDateRange%5Bdep%5D=2018-11-04&aCategoryRange=0%2C1%2C2%2C3%2C4%2C5&iRoomType=7&sOrderBy=relevance%20desc&aSortingOrderBoosting%5B%5D=distance&aPartner=&aOverallLiking=1%2C2%2C3%2C4%2C5&iGeoDistanceLimit=16093&iGeoDistanceItem=40862&iOffset=0&iLimit=25&iIncludeAll=0&bTopDealsOnly=false&iViewType=1&aPriceRange%5Bto%5D=0&aPriceRange%5Bfrom%5D=0&aPathList=31533&aGeoCode%5Blng%5D=-5.992675&aGeoCode%5Blat%5D=37.381886&bIsSeoPage=false&aHotelTestClassifier=&bSharedRooms=false&bIsSitemap=false&rp=&cpt=4086202%2C251100&iFilterTab=0&">Hotels Nearby</a> to view a map of Seville with the wedding hotel centered. The map views availble hotels in the vacinity of the reception hotel, over the period 3-5 November 2018</p><br>
				<p class="text-center">Please choose a hotel that you would like to stay in. We will be reccommending hotels soon, and suggesting hotels that our friends are staying in, so watch this space.</P>
			</div>
		</div>

		<div class="col-sm-6 col_2">
			<div class="container text-block">
				
			</div>
		</div>
	</div>
		
</div>