<div class="container-fluid block-accommodation">
	<div class="row">

		<div class="col-sm-6 col_1">
			<div class="container text-block">
				<h2 class="text-center">Accommodation</h2>
				<div class="h_line"></div>
				<p class="text-center">There are a large number of hotels and BnBs in the immediate vacinity of our Wedding Hotel, Hotel Anfonso XIII. Please use website such as <a href="https://www.trivago.co.uk">trivago</a> and <a href="https://www.lastminute.com/">lastminute.com</a> to choose a hotel that you would like to stay in. We will be reccommending hotels soon, and suggesting hotels that our friends are staying in, so watch this space.</P>
				<img src="../images/map.jpg">
			</div>
		</div>

		<div class="col-sm-6 col_2">
			<div class="container text-block">
				<img src="../images/map.jpg">
			</div>
		</div>
	</div>
		
</div>