<div class="container-fluid block-dress">
		<div class="row no-gutters">

			<div class="col-sm-6 col_1">
				
				
			</div>

			<div class="col-sm-6 col_2">
				<h2 class="text-center">Dress Code</h2>
				<div class="h_line"></div>
				<p>Dress is 'Smart Casual' and the photo can be used as a reference to what this is. if you have a suit and want to wear it, no problem at all, if you want to wear something similar to the man in the photo (or ladies' equivalent), again, this is absolutely fine</p>
				<br>
				<p>We would appreciate it if you could refrain from wearing jeans, t shirts, trainers etc</p>
				<br>
				<p>We should also mention the temperature, and dont worry folks, the temperature is approx 17 degs so you wont boil to death!</p>
				<br>
			</div>
		</div>
</div>