<div class="container-fluid block-itinerary">
		<div class="row no-gutters">
			<div class="col-sm-6 col_1">
				<h2>Itinerary</h2>
				<div class="h_line"></div>
				<h3 class="text-center">Friday 2 November</h3>
				<h4>21:00 - 00:00</h4>
				<h4 class='topic'>Roof Top Drinks</h4>
				<p>If you arrive early enough, we would love for you to join us for a drink on the roof top terrace bar of the Hotel Fontecruz.</p><br>
				<h3 class="text-center mobile_only">Saturday 3 November</h3>
				<h4 class="mobile_conly">13:00 - 13:45</h4>
				<h4 class='topic'>Ceremony</h4>
				<p class="mobile_only">Please make your way to the Andalucía ballroom and be seated no later than 12:45 for a 1300 start.</p>
				<br>
				<h4 class="mobile_only">13:45 - 15:00</h4>
				<h4 class='topic'>Cocktails and Photographs</h4>
				<p class="mobile_only">Please make your way to the Galleries and Patio area and join us for some complimentary cocktails and Canapés. We will also be taking some wedding photos in the ground of the hotel, so be prepared to participate</p>
				<br>
				<h4 class="mobile_only">15:00 - 18:00</h4>
				<h4 class='topic'>Wedding Breakfast</h4>
				<p class="mobile_only">Please make your way to the Royal Ballroom for the Wedding Breakfast.</p>
				<br>
				<h4 class="mobile_only">18:00 - 23:00</h4>
				<h4 class='topic'>Open Bar</h4>
				<p class="mobile_only">Please join us in the Andalucía and Hispalis Ballroom for a complimentary bar!</p>	
			</div>
			<div class="col-sm-6 col_2">
				
			</div>
		</div>
</div>