<div class="container-fluid block-itinerary">
		<div class="row no-gutters">
			<div class="col-sm-6 col_1">
				<h2>Itinerary</h2>
				<div class="h_line"></div>
				<h3 class="text-center">Friday 2 November</h3>
				<p>If your flight arrives early enough, we’re planning to meet up in a bar for a drink. Place and time to be confirmed</p><br>
				<h3 class="text-center mobile_only">Saturday 3 November</h3>
				<h4 class="mobile_conly">13:00 - 14:00</h4>
				<h4>Ceremony</h4>
				<p class="mobile_only">Please make your way to the Andalucía ballroom and be seated no later than 12:45 for a 1300 start.</p>
				<br>
				<h4 class="mobile_conly">14:00 - 15:00</h4>
				<h4>Cocktails</h4>
				<p class="mobile_only">Please make your way to the Galleries and Patio area and join us for complimentary coktails.</p>
				<br>
				<h4 class="mobile_conly">15:00 - 16:00</h4>
				<h4>Wedding Breakfast</h4>
				<p class="mobile_only">Please make your way to the Royal Ballroom for the Wedding Breakfast.</p>
				<br>
				<h4 class="mobile_conly">17:00 - 23:00</h4>
				<h4>Open Bar</h4>
				<p class="mobile_only">Please join us in the Andalucía and Hispalis Ballroom for a complimentary bar!</p>	
			</div>
			<div class="col-sm-6 col_2">
				
			</div>
		</div>
</div>