<div class="container-fluid block-rsvp">
	<div class="container text-block">
		<a href="/rsvp" class="btn btn-lg btn-secondary">RSVP</a>
		<p class="text-center">Please RSVP no later than 1 July 2018, by clicking on the button above</P>
	</div>
</div>