<div class="container-fluid block-seville">
		<div class="row no-gutters">
			<div class="col-sm-12 col_1">
				<h2 class="text-center">Seville</h2>
				<div class="h_line"></div>
				<p>Seville is an incredible city, and there are many wonderful sites for you to enjoy. Just take a look at some of the pics below!</p>
			</div>
		</div>
</div>