<div class="container-fluid block-travel">
	<div class="row">
		<div class="col-sm-6 col_1">
			<div class="container text-block">
				<h2 class="text-center">Travel</h2>
				<div class="h_line"></div>
				<p class="text-center">If you're flying from London to Seville for the weekend Fri 2nd Nov to Sun 4th Nov, then currently the cheapest option is still Ryanair (standstead) as Easyjet (gatwick) hasn't released it's flights yet, hopefully these will be released in next few weeks</P><br>
				<p class="text-center">Ryanair (stanstead)  is 7am on Fri and 4pm on Sun at £140
				If those times don't suit you then</P><br>
				<p class="text-center">BA (gatwick)  is 3pm on Fri 9pm on Sun at £250</P>
				<img src="../images/plane.png">
			</div>
		</div>
		<div class="col-sm-6 col_2">
			<div class="container text-block">
				<img src="../images/plane.png">
			</div>
		</div>
	</div>
	
</div>