<div class="container-fluid block-venue">
		<div class="row no-gutters">
			<div class="col-sm-12 col_1">
				<h2 class="text-center">Venue</h2>
				<div class="h_line"></div>
				<p>We have decided to marry in the Hotel Alfonso XIII, and I hope you will agree it is a wonderful venue. We really hope you will be able to join us to celebrate our special day. The Wedding Ceremony, Wedding Breakfast, Cocktails and drinks in the Bar will all be held here too.</p>
				<br>
				<p>Hotel Alfonso XIII, Seville</p>
				<a href="http://www.hotel-alfonsoxiii-seville.com/">Visit Official Website</a>
			</div>
		</div>
</div>