<div class="container-fluid block-venue">
		<div class="row no-gutters">
			<div class="col-sm-12 col_1">
				<h2 class="text-center">Venue</h2>
				<div class="h_line"></div>
				<p>Join us at this fabulous hotel for our special day. We are getting married in the hotel and the Wedding Breakfast, Cocktails and Bar will be held here too.</p>
				<br>
				<p>Hotel Anfonso XIII, Seville</p>
				<a href="http://www.hotel-alfonsoxiii-seville.com/">Visit Official Website</a>
			</div>
		</div>
</div>