<div class="container-fluid block-welcome">
	<div class="container text-block">
		<h2 class="text-center">Welcome</h2>
		<div class="h_line"></div>
		<p class="text-center">Hotel Anfonso XIII</P>
		<p class="text-center">Seville | 3 Nov 2018</p>
		<p class="text-facebook">You can view the link to our wedding facebook page at the link below</p>
		<a href="https://www.facebook.com/events/786605168184262/?ti=icl" target="_blank" class="btn btn-sm btn-warning link-facebook">FACEBOOK PAGE</a>
	</div>
	<img src="../images/logo.png">	
</div>