<div class="container-fluid block-welcome">
	<div class="container text-block">
		<h2 class="text-center">Welcome</h2>
		<div class="h_line"></div>
		<p class="text-center">Hotel Anfonso XIII</P>
		<p class="text-center">Seville | 3 Nov 2018</p>
	</div>
	<img src="../images/logo.png">	
</div>