<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>