<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>

	<body>
		<header>
			<% include partials/header %>
		</header>
		
		<h1>about</h1>
		<p>This is the about page</p>
	</body>

</html>