<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>

	<body>
		
		<div class="container">
			<h1>d3 charts</h1>
			<section id="chart">
				<div class="item">Stephen Dawes</div>
				<div class="item">Spencer Manuk</div>
				<div class="item">Ollie Milton</div>
				<div class="item">Vince Coyle</div>
				<div class="item">Neil Hodgson</div>
			</section>
		</div>
		
			
		<script type="text/javascript" src="/javascripts/d3.js"></script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>	
	</body>

</html>