<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>

	<body>
		<header>
			<nav>	

			</nav>	
		</header>

		<% include partials/_welcome %>
		<% include partials/_rsvp.ejs %>
		<% include partials/_venue.ejs %>
		<% include partials/_itinerary.ejs %>
		<% include partials/_dress.ejs %>
				
	</body>

</html>