h1, h2, h3, h4, h5, h6, p, a, label, legend {
  font-family: "Raleway", sans-serif;
  color: #9c152b; }

h2, legend {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4, label {
  font-size: 14px; }

p {
  font-size: 12px;
  font-family: "Open Sans", serif;
  margin: 0; }

@media (min-width: 768px) {
  h2, legend {
    font-size: 30px; }
  h3 {
    font-size: 18px; }
  h4, label {
    font-size: 16px; }
  p {
    font-size: 14px; } }

.block-welcome {
  background-color: #9c152b;
  padding: 50px;
  margin: 0 auto;
  text-align: center; }
  .block-welcome h2 {
    color: white; }
  .block-welcome p {
    color: white; }
  .block-welcome img {
    width: 100px;
    margin-top: 20px; }

@media (min-width: 768px) {
  .block-welcome img {
    width: 150px; } }

.block-googleForm {
  background-color: #19436e;
  padding: 50px 10px;
  margin: 0 auto;
  text-align: center; }
  .block-googleForm h1 {
    color: white;
    margin: 0;
    margin-bottom: 10px; }
  .block-googleForm p {
    color: white; }
  .block-googleForm img {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 30px; }
  .block-googleForm iframe {
    width: 1px;
    min-width: 100%;
    *width: 100%; }

.block-rsvp {
  background-color: #19436e;
  padding: 20px;
  margin: 0 auto;
  text-align: center; }
  .block-rsvp h2 {
    color: white; }
  .block-rsvp p {
    color: white; }
  .block-rsvp img {
    width: 100px;
    margin-top: 20px; }
  .block-rsvp a {
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #819eb9;
    border: none; }

@media (min-width: 768px) {
  .block-welcome img {
    width: 150px; } }
